@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nexa;
  src: url("./assets/fonts/nexa.otf");
}

@font-face {
  font-family: rougth;
  src: url("./assets/fonts/rought.otf");
}

body {
  font-family: nexa;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.padding {
  @apply p-5 laptop:p-10 large-width:px-24;
}

.max-page {
  @apply max-w-page mx-auto;
}

.font-rougth {
  font-family: rougth;
}

::-webkit-color-swatch-wrapper {
  float: right;
  margin-top: 4px;
  margin-right: -12px;
  width: 52px;
  height: 42px;
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-top-right-radius: 7px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  color: #ffb444be;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
